//_syle_guide.scss

//* Colors
$first_color: #090074;
$firs_color_alpha: #090074cc;
$second_color: #ef8100;
$second_color_alpha: #ef8100cc;
$link_color: #0d8bff;
$light-gray: #cbc8c8;
$medium-gray: #8e8d8d;
$dark-gray: #4b4b4b;
$white: #ffff;
$black: #0000;

//* Font

// $font-family:

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2, 5;
}

h3 {
  font-size: size 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

// $font-family:;
